@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.image-masked {
  -webkit-mask-position: var(--xMask) var(--yMask), center;
  mask-position: var(--xMask) var(--yMask), center;
}

.headerMenuItem-theme1_palette_1,
.headerMenuItem-theme1_palette_1.headerMenuItem-lounge.headerMenuItem-scrolled {
  color: rgb(201 132 116 / 1);
  background-color: rgb(49 119 116 / 0.05);
}

.headerMenuItem-theme1_palette_1:hover,
.headerMenuItem-theme1_palette_1.headerMenuItem-lounge.headerMenuItem-scrolled:hover {
  color: #fff;
  background-color: rgb(201 132 116 / 1);
}

.headerMenuItem-theme1_palette_1.headerMenuItem-lounge,
.headerMenuItem-theme1_palette_2.headerMenuItem-lounge {
  color: #fff;
  background-color: rgb(255 255 255 / 0.1);
}

.headerMenuItem-theme1_palette_1.headerMenuItem-lounge:hover,
.headerMenuItem-theme1_palette_2.headerMenuItem-lounge:hover {
  color: #fff;
  background-color: rgb(255 255 255 / 0.2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Anton", sans-serif;
}
